/* Misc items to add to Custom CSS for a better experience. Pick and choose as you please.*/

/* Clean up emojis darkened, monotone, lock icon */
/* Make nitro emojis normal colored and outlined */
button[class*='emojiItemDisabled'] { 
    filter: none !important; 
    outline: dotted 4px rgba(255, 255, 255, 0.46); 
    outline-offset: -2px; 
    cursor: pointer !important;
}

/* Makes the dark background transparent */ 
.emojiLockIconContainer_bcf389 {
 background: rgba(0,0,0,0) !important;
 scale: 0.01 !important;
}

/* Makes the emoji lock icon itself too small to see */
.emojiLockIcon__37643 {
    width: 0 !important;
}

/* Hides lock on server icons */
.categoryItemLockIconContainer_bfabc4 {
    display: none;
}

/* Hides the "Unlock every emoji with Nitro - Get Nitro" pop-up */
.upsellContainer_a3bc57 {
    display: none;
}

/* Hides the divider between "Frequently Used" and server emojis */
.nitroTopDividerContainer_e8f337 {
    display: none;
}

/* Makes the pink background behind "locked" emojis transparent. */
.categorySectionNitroLocked_a3bc57 {
    background-color: transparent;
}


/* Other misc rules */
/* Make (normal) text emojis bigger */
.emoji.jumboable {
    width:150px;
    height:150px;
}

/* Really big emoji/sticker/gif drawer */
.positionLayer_af5dbb {
    height: calc(100vh - 220px);
}

/* Hide send gift button */
button[aria-label="Send a gift"] {
    visibility: hidden;
    display: none;
}
